# League of Legends Diamond Ranked Game Analysis

***
### Student Names:
#### - Anton Angelo Carasig (s306344)
#### - Khang Nguyen (s3894597)
#### - Oliver Guzowski (s3897734)

***
## Table of Contents:
* [Introduction](#itr)
    + [Dataset Source](#dss)

## Introduction: <a id='itr'></a>

***
### Dataset Source <a id='dss'></a>

The League of Legends Diamond Ranked Games dataset used in this study was obtained from Kaggle ("michel's fanboy", 2021). This dataset contains the first 10 mins of roughly 10,000 ranked games, with players ranked from DIAMOND 1 to MASTER and using the "Solo Queue" feature of the game.

***
### Dataset Details

The dataset holds information regarding the first 10 minutes of League of Legends "ranked-games", a multiplayer online battle arena where 2 teams of 5 players are pitted against each other (Blue vs Red). A ranked-game is a gamemode where players of similar skill level are placed in a match against each other, meaning that since this dataset only contains "DIAMOND to MASTER" rank players, the population only contained players with high skill level. In addition, the "Solo-Queue" feature of the game means that an individual are randomly picked and placed in a team with other individuals, this implies that the team members have never communicate with each other before and must work together to win the match.

The dataset main features contains information about whether a team had won the match, how much gold a team has accumulated, numbers of kills and deaths. There are additional features that further detail on the team's action through out the first 10 minutes, such as how many wards placed, number of minions vanquished, and number of towers (The opposing team's defense mechanism) destroyed. Ther are also features that describes the team's performance such as the average level between all 5 players, the total experience the players earned, and their gold gain per minute.

There are 9879 unqiue observations within the dataset and 19 features for each team, Blue and Red, totalling 38 features.

***
### Context and Glossary

* League of Legends (LoL)
* Multiplayer Online Battle Arena (MOBA)
* ELO: A rating system that determines the quality of a player in a team. Diamond players are in the top 0.5% of the LoL playerbase.

Team-Specific Objectives: <i>(These objectives must be accomplished by either team to win)</i>

* Nexus: The main objective of the game, destroying the enemy nexus declares your team as the winner.
* Towers/Turrets: Structures that must be destroyed to reach the enemy nexus.

Other terminology:
* Elite Monsters: Monsters that provide high gold/xp to the player that defeats it.
* Dragon: A monster that gives bonuses to the team that defeats it.
* Herald: A monster that assists in knocking down the enemy turrets.
* Wards: Are team specific, purchaseable items. They provide "vision" to the team, allowing to see where enemies and objectives are currently; vital for making co-ordinated plays in higher ELO games and overall control of the game.
* Champion: The character that the player is controlling.
* Level: The level of the champion that the player is controlling. Gaining XP increases champion level. Starts at level 1 when the game starts, the maximum level is 18.
* First Blood: The first player that kills another player in the game gets extra gold, putting them at an advantage of others.

***
### Dataset Features

The features in our dataset are described in the table below. These descriptions are taken from the Kaggle data source.

In [3]:
import pandas as pd

table = [['gameId','Nominal categorical','NA','Unique RIOT ID of the game. Can be used with the Riot Games API.'],
         ['blueWins','Binary','NA','The target column. 1 if the blue team has won, 0 otherwise.'],
         ['blueWardsPlaced','Numeric','NA','Number of warding totems placed by the blue team on the map'],
         ['blueWardsDestroyed','Numeric','NA','Number of enemy warding totems the blue team has destroyed'],
         ['blueFirstBlood','Binary','NA','First kill of the game. 1 if the blue team did the first kill, 0 otherwise'],
         ['blueKills','Numeric','NA','Number of enemies killed by the blue team'],
         ['blueDeaths','Numeric','NA','Number of deaths (blue team)'],
         ['blueAssists','Numeric','NA','Number of kill assists (blue team)'],
         ['blueEliteMonsters','Numeric','NA','Number of elite monsters killed by the blue team (Dragons and Heralds)'],
         ['blueDragons','Numeric','NA','Number of dragons killed by the blue team'],
         ['blueHeralds','Numeric','Square Meter','Number of heralds killed by the blue team'],
         ['blueTowersDestroyed','Numeric','NA','Number of structures destroyed by the blue team (towers...)'],
         ['blueTotalGold','Numeric','NA','Blue team total gold'],
         ['blueAvgLevel','Numeric','NA','Blue team average champion level'],
         ['blueTotalExperience','Numeric','NA','Blue team total experience'],
         ['blueTotalMinionsKilled','Numeric','NA','Blue team total minions killed (CS)'],
         ['blueTotalJungleMinionsKilled','Numeric','NA','Blue team total jungle monsters killed'],
         ['blueGoldDiff','Numeric','NA','Blue team gold difference compared to the enemy team'],
         ['blueExperienceDiff','Numeric','NA','Blue team experience difference compared to the enemy team'],
         ['blueCSPerMin','Numeric','cs/min','Blue team CS (minions) per minute'],
         ['blueGoldPerMin','Numeric','gold/min','Blue team gold per minute'],
         ['redWardsPlaced','Numeric','NA','Number of warding totems placed by the red team on the map'],
         ['redWardsDestroyed','Numeric','NA','Number of enemy warding totems the red team has destroyed'],
         ['redFirstBlood','Numeric','NA','First kill of the game. 1 if the red team did the first kill, 0 otherwise'],
         ['redKills','Binary','NA','Number of enemies killed by the red team'],
         ['redDeaths','Numeric','NA','Number of deaths (red team)'],
         ['redAssists','Numeric','NA','Number of kill assists (red team)'],
         ['redEliteMonsters','Numeric','NA','Number of elite monsters killed by the red team (Dragons and Heralds)'],
         ['redDragons','Numeric','NA','Number of dragons killed by the red team'],
         ['redHeralds','Numeric','NA','Number of heralds killed by the red team'],
         ['redTowersDestroyed','Numeric','NA','Number of structures destroyed by the red team (towers...)'],
         ['redTotalGold','Numeric','NA','Red team total gold'],
         ['redAvgLevel','Numeric','NA','Red team average champion level'],
         ['redTotalExperience','Numeric','NA','Red team total experience'],
         ['redTotalMinionsKilled','Numeric','NA','Red team total minions killed (CS)'],
         ['redTotalJungleMinionsKilled','Numeric','NA','Red team total jungle monsters killed'],
         ['redGoldDiff','Numeric','NA','Red team gold difference compared to the enemy team'],
         ['redExperienceDiff','Numeric','NA','Red team experience difference compared to the enemy team'],
         ['redCSPerMin','Numeric','cs/min','Red team CS (minions) per minute'],
         ['redGoldPerMin','Numeric','gold/min','Red team gold per minute']]

df = pd.DataFrame(table, columns = ['Name','Data Type','Units','Description']) 
df.style

In [13]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None) 

import warnings
warnings.filterwarnings("ignore")

# df = df.style.set_precision(3)

df = pd.read_csv("ranked_games.csv")
df.sample(5, random_state=999)

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsPlaced,redWardsDestroyed,redFirstBlood,redKills,redDeaths,redAssists,redEliteMonsters,redDragons,redHeralds,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
4387,4487157845,0,20,5,1,4,5,7,0,0,0,0,15067,6.8,17232,172,56,-1641,-1610,17.2,1506.7,19,4,0,5,4,10,0,0,0,0,16708,7.4,18842,254,52,1641,1610,25.4,1670.8
3500,4525068217,0,16,25,0,5,7,5,0,0,0,0,16763,7.2,19010,252,48,-729,-620,25.2,1676.3,43,5,1,7,5,6,2,1,1,0,17492,7.2,19630,241,61,729,620,24.1,1749.2
790,4524662465,1,16,1,0,11,4,18,1,1,0,0,19695,7.2,19512,258,48,3936,2111,25.8,1969.5,12,2,1,4,11,4,1,0,1,0,15759,7.0,17401,205,68,-3936,-2111,20.5,1575.9
7993,4484601181,1,16,0,0,8,5,8,2,1,1,0,17390,7.2,19016,212,60,1716,1837,21.2,1739.0,15,1,1,5,8,8,0,0,0,0,15674,6.8,17179,226,36,-1716,-1837,22.6,1567.4
4910,4513962663,0,20,2,1,8,7,5,1,0,1,0,16815,7.0,18326,207,41,10,223,20.7,1681.5,19,6,0,7,8,8,0,0,0,0,16805,6.8,18103,241,48,-10,-223,24.1,1680.5

### Dataset Features: To be replaced with table

In [14]:
print("Dataframe Entries:", df.shape[0])
print("Dataframe Columns:", df.shape[1])

# df.columns
for i in df.columns:
    print(i, end = ' | ')

Dataframe Entries: 9879
Dataframe Columns: 40
gameId | blueWins | blueWardsPlaced | blueWardsDestroyed | blueFirstBlood | blueKills | blueDeaths | blueAssists | blueEliteMonsters | blueDragons | blueHeralds | blueTowersDestroyed | blueTotalGold | blueAvgLevel | blueTotalExperience | blueTotalMinionsKilled | blueTotalJungleMinionsKilled | blueGoldDiff | blueExperienceDiff | blueCSPerMin | blueGoldPerMin | redWardsPlaced | redWardsDestroyed | redFirstBlood | redKills | redDeaths | redAssists | redEliteMonsters | redDragons | redHeralds | redTowersDestroyed | redTotalGold | redAvgLevel | redTotalExperience | redTotalMinionsKilled | redTotalJungleMinionsKilled | redGoldDiff | redExperienceDiff | redCSPerMin | redGoldPerMin |

## Goals and Objectives:

Recent years has shown exponential growth towards the eSports genre, with League of Legends currently standing as one of the most popular video game and eSport being played in the world with over 8 million daily players according to the developers [Riot Games](https://www.leagueoflegends.com/en-us/news/game-updates/). Taking in the top 0.5% of players of such a large player-base into account, it becomes vital to understand what factors contribute the most into a winning game, where minor advantages to a team can snowball heavily into a win. Game data analytics allow developers to study patterns in player behavior and overall trends within a game, with such analysis enabling shifts in the game meta that suits the company's goals. Such understanding in turn enables for a model that can decipher the weighted importance of each factor of the game, whether that be 'First Bloods', 'Dragons' or some other objective. Conclusively, it enables future features to be implemented, suited to support the company's agenda such as a more passive-focused game average with lower kill-counts or a more hyper-aggressive objective focus that places a neutral objective such as the 'Herald' at a high importance. 

In essence, the main objective of this project is to decipher which factors contribute the most into a conclusive win. Exploratory data analysis utilizing some descriptive statistics and data visualization tools will be used to assist in offering insight as to different patterns and relationships that can be seen within LoL ranked games. Doing so will enable us to achieve our end-goal for the project, as well as offering extra understanding to the prominence that other factors may play in generating a winning lead for the team.

***
### Target Response Variable:

This project's target feature in the dataset will be "Blue Wins" (1 = Blue won, 0 = Red won). We will be observing what factors play a more contributive role to this boolean value.